<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="css/styles.css" />
<link rel="canonical" href="https://notext.news/{{source}}" />
<link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />

<meta property="og:title" content="{{title}}" />
<meta property="og:locale" content="en_US" />
<meta name="description" content="asd" />
<meta property="og:description" content="asd" />
<meta property="og:url" content="https://notext.news/{{source}}" />
<meta property="og:site_name" content="{{title}}" />
<meta property="og:image" content="https://notext.news/images/card.png" />
<meta property="og:type" content="article" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@gjtorikian" />
<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"CreativeWork",
  "headline":"{{title}}",
  "image":"https://notext.news/assets/images/card.png",
  "description":"asd",
  "mainEntityOfPage":{"@type":"WebPage","@id":"https://notext.news/{{source}}"},
  "url":"https://notext.news/{{source}}"}
</script>
