<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NoText News</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    {{>_links}}
    <div id="body">
    Another experiment in text representation. <a href="https://www.github.com/gjtorikian/notext.news">Source code</a>.
    </div>
  </body>
</html>
