<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NoText News</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    {{>_links}}
    <div id="body">
    <h1>The News</h1>
    <h1>without</h1>
    <h1>The Words</h1>
    <p><a class="gh-link" href="https://www.github.com/gjtorikian/notext.news">Source Code</a></p>
    </div>
  </body>
</html>
