<!DOCTYPE html>
<html lang="{{htmlLang}}">
  <head>
    {{> _meta}}
  </head>
  <body>
    <div class="image-holder">
      <a href="https://www.gjtorikian.online/">
        <img src="https://www.gjtorikian.online/assets/images/symbol.png" />
      </a>
    </div>

    <div id="nt-news-intro">
      <h1 class="nt-news-text">NO TEXT NEWS</h1>
    </div>
    <div id="nt-news-message">
      {{> _news-cards}}

      <p id="nt-news-info">
      <blockquote class="nt-quote"><em>Language is displaced in the cloak of erasure, leaving behind only structure and image.</em>
Kenneth Goldsmith</blockquote>
      <a class="nt-news-link" href="https://www.github.com/gjtorikian/notext.news">The source code is available</a>, along with more information.
      </p>
    </div>
  </body>
</html>
