<!DOCTYPE html>
<html lang="{{data.htmlLang}}" class="{{data.htmlClasses}}">
  <head>
    {{> _meta}}
    {{{data.headHTML}}}
  </head>
  <body class="{{data.bodyClasses}}">
    <div id="nt-news-body-text">
    {{{data.bodyHTML}}}
    </div>
  </body>
</html>
