<!DOCTYPE html>
<html lang="{{data.htmlLang}}" class="{{data.htmlClasses}}">
  <head>
    {{> _meta}}
    {{{data.headHTML}}}
  </head>
  <body id="{{data.bodyId}}" class="nt-news-body-text {{data.bodyClasses}}">
    {{{data.bodyHTML}}}
  </body>
</html>
