div#nt-news-body-text {
  color: transparent !important;
}

div#nt-news-message {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nt-news-text {
  font-family: Verdana, Geneva, sans-serif;
}

h1.nt-news-text {
  font-size: 5rem;
  text-align: center;
}

ul.nt-news-list {
  list-style-type: none;
  padding-left: 0px;
}

ul.nt-news-list li {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

p#nt-news-info {
  text-align: justify;
  width: 300px;
  line-height: 1.5;
  padding-top: 3rem;
}

a.nt-news-link {
  color: #004488;
}
a.nt-news-link:visited {
  color: #004488;
}

div.image-holder {
  height: 40px;
  width: 40px;
  position: absolute;
  float: right;
  top: 0;
  right: 0;
}

div.image-holder img {
  opacity: 0.5;
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  max-width: 100%;
}
div.image-holder:hover img {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
@media screen and (max-device-width: 825px) {
  .dn-custom {
    display: none;
  }
  div.image-holder {
    width: 30px;
    height: 30px;
  }
}

@keyframes textColorChange {
  0% {
    color: #cc3311;
  }
  50% {
    color: #117733;
  }
  100% {
    color: #cc3311;
  }
}
div#nt-news-loader {
  animation: textColorChange 2s infinite;
}
