/* body * {
  content: "\7C\a0\a0"
} */

body div#body,
body div#loader {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#outer {
  display: flex;
  justify-content: center;
}
ul li {
  display: inline;
}

ul li a.nt-news {
  color: #004488;
}
ul li a.nt-news:visited {
  color: #004488;
}

body div a.gh-link {
  color: #004488;
}
body div a.gh-link:visited {
  color: #004488;
}

@keyframes textColorChange {
  0% {
    color: #cc3311;
  }
  50% {
    color: #117733;
  }
  100% {
    color: #cc3311;
  }
}
#message {
  animation: textColorChange 2s infinite;
}
